div.menuTren{
    width: 100%;
    background-color: violet;
  
}
ul.menuNgang{
    list-style: none;
    display: flex;
    width: 900px;
    margin: 0 auto;
}
.menuNgang a{
text-decoration: none;
text-transform: uppercase;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
color: whitesmoke;
display: block;
padding: 6px;
    transition: 0.4s;
}
.menuNgang a:hover{
    background-color: aquamarine
}